.yotpo-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  > {
    input {
      width: 0;

      &:disabled {
        ~ label {
          pointer-events: none;
        }
      }

      &:checked {
        ~ label {
          color: $star-fill;
        }

        + label:hover, ~ label:hover {
          color: $star-fill;

          ~ label {
            color: $star-fill;
          }
        }
      }
    }

    label {
      font-size: 0;
      width: auto;
      white-space: nowrap;
      cursor: pointer;
      color: $star-empty;
      transition: transform .1s ease-out;
      line-height: 1.3;
      text-shadow: 0 0 1px $star-fill, 0 0 1px $star-fill, 0 0 1px $star-fill, 0 0 1px $star-fill;
      margin: 0 .125rem;

      &:before {
        content: '★';
        font-size: $star-size;
        vertical-align: middle;
      }

      &:hover {
        color: $star-fill;
        transform: scale(1.3);

        ~ label {
          color: $star-fill;
        }
      }
    }
  }

  &.lg > label:before {
    font-size: $star-size-lg;
  }
}
